html {
    box-sizing: border-box;
    background-color: black;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
  
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin: 2em;
    color: white;
    user-select: none;
    overflow-x: hidden;
}

/* scrolling */
.show-on-scroll {
    opacity: 0;
    transform: translateY(1.5em);
    transition: transform 3s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    will-change: transform, opacity;
  }
  .show-on-scroll.is-visible {
    opacity: 1;
    transform: translateY(0);
  }

.hover-div {
    display: none;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    cursor: crosshair;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    user-select: none;
    z-index: 0;
}
nav > div {
    margin: 0.15rem;
}
nav a {
    font-weight: 300;
    font-size: 1rem;
    padding: 0.5em;
}
nav a:hover {
    text-decoration: underline;
}
.sub-nav {
    display: none;
}
.sub-nav a {
    padding: 4px;
    margin: 0;
}
.nav-works {
    position: relative;
    display: inline;
}
.nav-works:hover .sub-nav {
    /* display: inline; */
    display: inline-block;
    position: absolute;
    padding-top: 0;
    background: rgba(0,0,0,0.8);
    z-index: 1;
}
.nav-works:hover .sub-nav a {
    min-width: 150px;
    position: relative;
    display: block;
    padding-top: 0;
}
#lang-switch a:nth-of-type(1){
    padding-right: 0.1em;
}
#lang-switch a:nth-of-type(2){
    padding-left: 0.1em;
}

button {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
.scroll-wrapper {
    margin: 1em auto;
    max-width: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.scroll-wrapper a {
    margin: 1.5rem;
    font-size: 10rem;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.25px white;
    /* -webkit-background-clip: text; */
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.main-video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: -1;
}
.main-video > div {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.main-video img {
   width: 80%;
   height: auto;
   position: absolute;
   top: 0;
}
.bg-gif:hover {
    cursor: help;
}
.about-page {
    display: flex;
    margin-top: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about-img {
    margin: 0;
    padding: 8px;
    max-width: 400px;
    margin: 2em;
}
.about-img img, .about-content p, .main-video img, .scroll-wrapper a{
    -webkit-animation: appear 0.5s;
    animation: appear 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes appear {
    0% {opacity: 0; }
    100% {opacity: 1; }  
}
@keyframes appear {
    0% {opacity: 0; }
    100% {opacity: 1; }  
}
.about-content {
    max-width: 400px;
    margin: 2em;
    display: flex;
    flex-direction: column;
}
.about-contact img {
    width: 35px;
    height: 35px;
    margin: 10px 8px 8px 8px;
}
.about-img > img {
    width: 100%;
}
.about-page p {
    padding: 8px;
    font-size: 1rem;
    font-weight: 100;
}
footer {
    height: 150px;
}

@media screen and (max-width: 800px){
    body {
        margin: 1em;
    }
    .scroll-wrapper a {
        font-size: 8rem;
        margin: 1rem;
        hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        /* word-break: break-all; */
    }
    .about-img > img {
        padding: 0;
    }
    .main-video {
        top: 15%;
    }
    .main-video img {
        width: 100%;
    }
}
@media screen and (max-width: 420px){
    body {
        margin: 0.5em;
    }
    nav {
        margin-top: 1rem;
    }
    .sub-nav a {
        font-size: 14px;
    }
    .scroll-wrapper a {
        font-size: 5rem;
        margin: 0.75rem;
        max-width: 100vw;
        line-height: 4.5rem;
    }
    .main-video {
        top: 25%;
    }
    .main-video img {
        width: 120%;
    }
    .about-page p {
        font-weight: 300;
    }
    .about-page {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4rem 1rem 4rem 1rem;
    }
    .about-img {
        width: 100%;
        align-content: center;
        margin: 0 auto;
    }
    .about-content {
        width: 100%;
        margin: 4rem auto;
    }
}