html {
    box-sizing: border-box;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin: 2em;
}

/* scrolling */
    .show-on-scroll {
    opacity: 0;
    transform: translateY(4em) rotateZ(-2deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    will-change: transform, opacity;
  }
  .show-on-scroll.is-visible {
    opacity: 1;
    transform: rotateZ(0deg);
  }

/* gallery view */
.gallery-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img-container {
    width: 75%;
    height: 75%;
    overflow: hidden;
    margin-top: 1.5em;
}
.img-slide {
    display: flex;
    width: 100%;
    height: 80vh;
}
.img-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.img-control {
    display: flex;
    user-select: none;
}
.img-control p {
    font-weight: 300;
    padding: 0 0.5rem 0 0.5rem;
}
.img-control p:nth-of-type(1){
    border-right: 1px solid black;
}
.img-control p:hover {
    cursor: crosshair;
}

a {
    color: black;
}
img, nav {
    user-select: none;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.75rem;
    position: relative;
}
nav div:nth-last-of-type(1){
    position: absolute;
    right: 0;
}
nav a {
    font-weight: 300;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    font-size: 1rem;
}
.name-a:hover {
    cursor: crosshair;
    text-decoration: none;
}
a:hover {
    cursor: crosshair;
    text-decoration: underline;
}
button {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
.external-button {
    display: block;
    user-select: none;
}
.external-button button {
    border: 1px solid black;
    min-width: 120px;
    font-weight: 500;
    font-size: 20px;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 1em;
    margin-top: 1em;
    background: rgba(0,0,0,0.8);
    color: white;
    transition: background 0.5s ease-in-out;
}
.external-button button:hover {
    cursor: crosshair;
    background: rgba(0,0,0,0.5);
}
.sub-nav {
    display: none;
}
.sub-nav a {
    font-size: 1rem;
    font-weight: 300;
    padding: 4px;
    margin: 0;
}
.nav-works {
    position: relative;
    display: inline;
    z-index: 1;
}
.nav-works:hover .sub-nav {
    /* display: inline; */
    display: block;
    position: absolute;
    left: 0;
    padding: 0.5em 0.25em;
    background: rgba(255,255,255,0.9);
    width: auto;
    min-width: 120px;
}
.nav-works:hover .sub-nav a {
    position: relative;
    display: block;
    padding-top: 0;
}
#lang-switch a:nth-of-type(1){
    padding-right: 0.1em;
}
#lang-switch a:nth-of-type(2){
    padding-left: 0.1em;
}

.info-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8rem;
}
.info-wrapper div:nth-of-type(1){
    align-self: center;
    margin: 1em;
    width: 50%;
}
.info-wrapper div:nth-of-type(2){
    text-align: justify;
    margin: 1em;
    width: 50%;
}
.info-wrapper h1 {
    font-weight: 700;
    margin: 0;
    padding: 0 0 0.5rem 0;
}
.info-wrapper h2 {
    font-weight: 300;
    margin: 0;
    padding: 0 0 0.5rem 0;
}
img {
    padding: 0.5rem;
}

img, .info-wrapper div, .info-tag li{
    -webkit-animation: appear 1.25s;
    animation: appear 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
footer p, footer a{
    opacity: 0;
    -webkit-animation: appear 2s;
    animation: appear 2s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
 @-webkit-keyframes appear {
    0% {opacity: 0; }
    100% {opacity: 1; }  
 }
 @keyframes appear {
    0% {opacity: 0; }
    100% {opacity: 1; }  
 }

.img-info {
    padding: 0 0.5rem 0.5rem 0.5rem;
    font-size: 14px;
}
.cover-img {
    max-width: 100%;
}
.cover-img > img {
    object-fit: contain;
}
.video-cover {
    position: relative;
    margin: 0.5rem;
}
.cover {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.video-wrapper {
    /* max-width: calc(177.778vh); */
    max-width: 100%;
    /* height: calc(53.55vw); */
    /* margin: 0.5rem; */
    /* padding: 0.5rem; */
    position: relative;
    top: 0;
    left: 0;
} 
.video-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.info-tag {
    margin: 0;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}
.info-tag li {
    list-style: none;
    padding: 0rem 0.25rem 0rem 0.25rem;
    margin: 0.25rem;
    border-right: 1.75px solid black;
}
.info-tag .info-tag-title {
    font-weight: bold;
}
.project-img {
    margin-top: 15rem;
    display: flex;
    flex-wrap: wrap;
}
.project-img > div {
    width:100%;
    height: auto;
    margin: 5em 0;
}
.text-img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.text-img-wrapper .description-text {
    padding: 0.5rem 2rem 0.5rem 0.5rem;
}
.img-text-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
}
.img-text-wrapper > .description-text {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}
.description-text{
    width: 50%;
}
.detail-wrapper {
    width: 50%;
}
.detail-wrapper-small {
    width: 100%;
}
.detail-wrapper-small img{
    width: 50%;
    height: auto;
}
.description-text h1 {
    font-weight: 300;
    margin: 0.5rem 0rem 0.5rem 0rem;
}
.description-text h2{
    margin: 0;
}

.zoom-in, .zoom-in-cover {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease-in-out;
    /* transition: opacity 0.4s ease-in-out; */
}
.zoom-in:hover{
    cursor: crosshair;
    /* opacity: 0.75; */
    transform: scale(1.015);
}
#expand {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
.expand-img{
    height: 90%;
    max-width: 90%;
    width: 90%;
    z-index: -1;
}
.expand-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.control-div {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    z-index: 0;
}
.control-div div {
    width: 50%;
}
.control-div div:nth-of-type(1):hover{
    cursor: w-resize;
}
.control-div div:nth-of-type(2):hover{
    cursor: e-resize;
}
.back-div {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}
#back{
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0.75rem;
}
footer {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 5rem 0 1rem 0;
}

footer p, footer a{
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem 0;
    text-decoration: none;
}

@media screen and (max-width: 1100px) {
    body {
        margin: 1em;
    }
    .info-wrapper{
        height: auto;
        flex-direction: column;
        /* align-items: center; */
        margin: 6rem 3rem 6rem 3rem;
    }
    .info-wrapper div:nth-of-type(1) {
        width: 100%;
    }
    .info-wrapper div:nth-of-type(2) {
        width: 100%;
        margin-top: 0.5rem;
    }
    .project-img > div {
        margin: 4em 0;
    }
    .description-text, .detail-wrapper {
        width: 100%;
    }
    .description-text {
        margin: 10rem 5rem 10rem 5rem;
    }
    .description-text h2{
        margin-bottom: 0.5rem;
    }
    .text-img-wrapper .description-text {
        padding: 0.5rem 2rem 0.5rem 0.5rem;
    }
    .img-text-wrapper .description-text {
        padding: 0.5rem 2rem 0.5rem 0.5rem;
    }
}
@media screen and (max-width: 640px){
    body {
        margin: 0.5em;
    }
    .gallery-wrapper {
        flex-direction: column;
    }
    .img-container {
        width: 85%;
    }
    .img-slide {
        height: 75vh;
    }
    nav {
        margin-bottom: 0.35rem;
    }
    nav a {
        padding: 0.25rem;
    }
    .sub-nav a {
        font-size: 14px;
    }
    .nav-works:hover .sub-nav {
        min-width: 100px;
    }
    img {
        padding: 0.25rem;
    }
    .img-info {
        padding: 0 0.25rem 0.25rem 0.25rem;
    }
    .project-img > div {
        margin: 2em 0;
    }
    .video-wrapper {
        margin: 0.25em;
    }
    .info-tag li, nav a {
        font-size: 14px;
    }
    .info-wrapper{
        margin: 4em 1rem 4em 1em;
    }
    .info-wrapper div:nth-of-type(2){
        text-align: start;
    }
    .project-img {
        margin-top: 10rem;
    }
    .project-img > div {
        margin-top: 0.5rem;
    }
    .description-text {
        margin: 0;
    }
    .description-text h2{
        font-size: 1em;
        margin: 0;
        padding: 0 0 0.5rem 0;
    }
    .description-text h1 {
        font-size: 1.25em;
        margin: 0;
        padding: 0 0 0.5rem 0;
    }
    .description-text {
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }
    .text-img-wrapper .description-text {
        padding: 2rem;
    }
    .img-text-wrapper .description-text {
        padding: 2rem;
    }
    footer p, footer a{
        font-size: 14px;
    }
}